@use "../../style/index" as *;

.stepone {
  display: flex;
  flex-direction: column;
  padding-top: rem(20);
  gap: rem(10);

  &__labelanderror {
    display: flex;
    justify-content: space-between;
    .none {
      display: none;
    }
  }
  label {
    color: var(--marine-blue);
    font-size: rem(13);
  }
  input {
    font-family: var(--font-body);
    border: rem(1) solid var(--light-gray);
    border-radius: rem(10);
    font-size: rem(15);
    padding: rem(12);
    color: var(--marine-blue);
    font-weight: var(--font-medium);
    cursor: pointer;
    &::placeholder {
      letter-spacing: rem(0.5);
      font-size: rem(15);
      font-weight: var(--font-bold);
      color: var(--cool-gray);
    }
    &:focus {
      outline: none;
    }
  }
  .error {
    display: block;
    color: var(--strawberry-red);
    font-size: rem(13);
    background-color: var(--white);
  }
  .error-outline {
    border: rem(1) solid var(--strawberry-red);
  }
  .error-outline:focus {
    border: rem(1) solid var(--light-gray);
  }
  .active:focus {
    outline: rem(1) solid var(--purplish-blue);
  }
}
